[Settings]
NotPublic=1
RepopDelay=100		; 20%..500%
Protocol=WSOCK_TCPIP	; DPLAY_IPX,DPLAY_TCPIP,WSOCK_TCPIP
GameSpeed=1		; 0 - slowest, 4 - normal, 8 - fastest
LogFile=srv2.log
ChrBase=chr1/
IPAddress=127.0.0.1:8021
IPAddress2=127.0.0.1:8022
;HatAddress=127.0.0.1:6666
ServerID=1		; must be 0 for DPLAY
SayRange=256		; Max range for 'say' command in tiles
ShoutDelay=20		; Delay for 'shout' command (in seconds)
MaxPlayers=16		; 1..16
Save=server		; client/server
;GameType=COOPERATIVE	; COOPERATIVE,DEATHMATCH,TEAMPLAY
Description=monsters
;FragLimit=100
;FlagScore=10
[ReportToWWW]
127.0.0.1:6666/

[Maps]
;monsters.alm=10		; map name = time (in hours)
Cave.alm=10		; map name = time (in hours)
